/* Root variables for color scheme */
:root{
    --bg-color: #FEFAE0; /* Background color */
    --text-color: #283618; /* Text color */
    --contact-bg: #BC6C25; /* Background color for contact section */
    --light-green: #606C38; /* Light green color */
}

/* General Styles */
.AboutUsMainContent {
    width: 100%;
}

/* Universal styling for all elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Sections Styles */
.section1, .section2, .section3, .section4, .section5{
    margin: auto;
    width: 80%;
}

/* Section 1: Introduction or title section */
.section1{
    color: #FEFAE0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* General paragraph styles */
p{
    font-size: 20px;
    font-weight: normal;
}

/* Section 2 Styles: Another section with a dark green background */
.section2{
    background-color: #606C38;
    color: #FEFAE0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* Specific styling for a title inside section 2 */
.title2{
    text-align: right;
}

/* List styling for section 2 */
.ul2 li{
    size: 28px;
    padding: 10px;
    margin-left: 50px;
    color: #FEFAE0;
}

/* Additional padding for specific information in section 2 */
.info2{
    padding-right: 100px;
}

/* Rotate image inside section 2 */
.imgInfo2{
    transform: rotate(-10deg);
} 

/* Section 3 Styles: Light background with dark text */
.main2{
    background-color: #606C38;
}

/* Section 3 Styles: Light background with dark text */
.section3{
    background-color:#FEFAE0;
    color:#283618;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/* Padding adjustments for list items inside section 3 */
.p3{
    margin: 10px;
}

/* Styling for list items inside section 3 */
.ul3 li{
    margin-left: 73px;
    padding: 10px;
}

/* Section 4 Styles: A grid layout with centered content */
.section4{
    color: #FEFAE0;
    font-size: 28px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 0px;
    text-align: center;
}

/* Section 5 Styles: Similar to section 2 with dark green background */
.section5{
    background-color: #606C38;
    color: #FEFAE0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

/* Paragraph styling within section 5 */
.info5 p{
    color: #FEFAE0;
    margin: 10px;
}

/* Styling for signup button inside section 5 */
.signup_button{
    margin-top: 20px;
}
