:root {
    min-height: 100vh;
    background-color: #283618;
}

.calendar-wrapper button {
    color: #000000;
    padding-left: 0;
    padding-right: 0;
}

main, .booking-container {
    background-color: #283618;
}

.left-part {
    text-align: center;
    color: White;
    font-size: 30px;
}

.right-part {
    text-align: center;
}

.left-content {
    width: 250px;
    margin: 0 auto;

}

.right-content {
    margin: 35px;
    background-color: #FEFAE0;
    padding: 50px;
    text-align: left;
    border-radius: 15px;
    position: relative;
}

#tutor-img {
    max-width: 200px;
    height: auto;
    object-fit: contain;
    padding-top: 10px;
}

.tutor-name {
    background-color: #BC6C25;
    padding: 10px;
    width: 100%;
}

.course {
    color: white;
}

.icon {
    width: 35px;
}

.clock-money {
    text-align: left;
}

.inperson-select {
    font-size: 20px;
    margin-left: 10px;
    background: #606C38;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
}

.time-slot {
    background-color: #BC6C25;
    flex-basis: 40%;
    margin: 10px;
    padding: 5px;
    text-align: center;

}

.time-slot:hover {
    background-color: darkorange;
}

.btn-confirm {
    color: white;
    font-weight: bold;
    background-color: #BC6C25;
    padding: 3px 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 25PX;
}

.btn-confirm:hover {
    background-color: rgb(126, 76, 76);
}

.time-zone {
    margin-top: 30px;
}

.chat {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 100px;
}

.time-slot:disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
    cursor: not-allowed;
    border: 1px solid #d0d0d0;
}

.help {
    margin-top: 15px;
    color: black;
    background-color: darkorange;
    padding: 5px 10px;
    /* Adjust padding to make it smaller */
    font-size: 15px;
    /* Reduce font size */
    height: 35px;
    border-radius: 5px;
}

.help:hover {
    background-color: chocolate;
}