.ConfirmationBookingContainer {
    display: flex;
    align-items: center;
    justify-items: center;

    height: 100vh;
    overflow: hidden;
    position: relative;
}

.ConfirmationBookingMainContent {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.mid-part {
    color: #FEFAE0;
    align-items: center;
    text-align: center;
}

.mid-part h1 {
    color: #FEFAE0;
}

.right-part {
    position: relative;
}

.left-part {
    position: relative;
}

.celebration-left {
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
}

.celebration-right {
    left: 0;
    bottom: 0;
    transform: scaleX(1);
}

.celebration-left,
.celebration-right {
    position: absolute;
    width: 30%;
}


.button-cancle {
    margin-top: 100px;
    color: #FEFAE0;
    background-color: #BC6C25;
    border-radius: 20px;
}

.date-time-choosen {
    margin-top: 50px;
    font-weight: bold;
    font-size: 50px;
    color: #FEFAE0;
}
