.reset-password-page {
  font-family: Arial, sans-serif;
  background-color: #283618;
  margin: 0;
}
  
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  
.reset-password-card {
  background-color: #FEFAE0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  padding-right: 48px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.reset-password-card h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #283618;
}

.reset-password-card p {
  margin-bottom: 20px;
  color: #283618;
  font-size: 14px;
}

.reset-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #283618;
  border-radius: 4px;
  font-size: 14px;
}

.reset-password-form button {
  width: 100%;
  padding: 10px;
  background-color: #B45309;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-form button:hover {
  background-color: #283618;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.links a {
  color: #283618;
  font-size: 14px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
